@import "../../scss/bootstrap.scss";

.largePadding {
  padding: 3em 2em 1em 2em;

  @include media-breakpoint-up(sm) {
    padding: 4em 3em 2em 3em;
  }
  @include media-breakpoint-up(lg) {
    padding: 6em 0 4em 0;
  }
}
