@import "./_bootstrap.scss";
@import './vars';

p,
span {
  a {
    border-bottom: 1px dotted;
    transition: color 0.2s ease 0s, border-bottom-color 0.2s ease 0s;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25em;
}

h5,
h6 {
  letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;

  &:not(:first-child) {
    padding-top: 1rem;
  }
}

ul {
  padding-left: 1em;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; //Removes the dropdown button at the right side of a select
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23dfdfdf' /%3E%3C/svg%3E");
  background-position: calc(100% - 20px) 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}
