/******************************************************************
Bootstrap variables overwrites
******************************************************************/

// Grid

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1200px,
  lg: 1600px,
  xl: 1920px
);

// Colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$lightgreen: #b1e3d3;
$primary: #ed4933;
$secondary: #c5c5c5;
$success: $green;
$info: $black;
$warning: $orange;
$danger: $red;
$light: $white;
$dark: #2e3842;

$black: #000;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800
  ),
  $colors
);

$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$body-bg: $dark;
$body-color: $white;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// fonts
$font-family-sans-serif: "Open Sans", "Helvetica", sans-serif, Arial,
  "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1.25rem;

$enable-responsive-font-sizes: true;

// headings
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$headings-font-weight: $font-weight-bold;

// links
$link-color: inherit;
$link-hover-color: inherit;
$link-hover-decoration: none;

// spacings
$line-height-base: 1.65;
