@import "../../scss/bootstrap.scss";

.spacedHeadline {
  font-weight: 800;
  letter-spacing: 0.225em;
}

.offering {
  &:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.075);
  }

  &:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.15);
    flex-direction: row-reverse;
  }

  &:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.225);
  }

  &:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.075);
    flex-direction: row-reverse;
  }

  &:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.15);
  }

  &:nth-child(6) {
    background-color: rgba(0, 0, 0, 0.225);
    flex-direction: row-reverse;
  }
}
